* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: sans-serif;
}
::selection {
  background: rebeccapurple;
  color: #ffffff;
}

h1 {
  margin-block-end: 2rem;
}

label {
  margin: 0.5rem 0;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
input {
  margin: 0.5rem 0;
}
input,
button {
  border-radius: 5px !important;
}

footer {
  margin-block-start: 3rem;
}
footer p a {
  text-decoration: none;
}
footer p a:hover {
  color: red;
}
