[data-theme='light'] {
  --bg-color: #fff;
  --text-color: #222;
  --alt-color: #fafafa;
  --accent-color: #9000ff;
}
[data-theme='dark'] {
  --bg-color: #202020;
  --text-color: #fff;
  --alt-color: #1a191b;
  --accent-color: #e0b0ff;
}
* {
  box-sizing: border-box;
}
html {
  background: var(--bg-color);
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  max-width: 80ch;
  padding-inline: 1rem;
  margin-inline: auto;
  margin-block: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* main {
  flex-grow: 1;
} */
footer {
  padding-block: 1rem;
  text-align: right;
  font-size: 12px;
}
textarea {
  background: var(--alt-color);
  /*   background: var(--bg-color); */
  color: var(--text-color);
  min-height: 100%;
  padding: 1rem;
  width: 100%;
  border-radius: 0.35rem;
  background: #fafafa;
  font-size: 1.1rem;
}
textarea::placeholder {
  color: black;
}
.heart {
  text-decoration: none;
}
.heart:hover {
  text-decoration: none;
  color: red;
}
button {
  background: inherit;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
/* @media screen and (max-width: 80ch) {} */
