[data-theme='light'] {
  --bg-color: #fff;
  --textarea-bg-color: #fafafa;
  --text-color: #222;
  --alt-color: #fafafa;
  --accent-color: #9000ff;
}
[data-theme='dark'] {
  --bg-color: #202020;
  --textarea-bg-color: #202020;
  --text-color: #fff;
  --alt-color: #1a191b;
  --accent-color: #e0b0ff;
}
textarea,
[data-theme='light'],
[data-theme='dark'] {
  transition: all 0.4s ease-in-out;
}
* {
  box-sizing: border-box;
}
html {
  background: var(--bg-color);
  color: var(--text-color);
}
body {
  max-width: 80ch;
  padding-inline: 1rem;
  margin-inline: auto;
  margin-block: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  flex-grow: 1;
}
footer {
  padding-block-end: 1rem;
  font-size: 14px;
  text-align: center;
}
textarea {
  background: var(--alt-color);
  color: var(--text-color);
  /* min-height: 100%; */
  padding: 1rem;
  width: 100%;
  border-radius: 0.35rem;
  font-size: 1.1rem;
}
.heart {
  text-decoration: none;
  color: rgb(128, 0, 255);
}
.heart:hover {
  text-decoration: none;
  color: red;
}
button {
  background: inherit;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
